body{
    cursor: pointer;
}

.text_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 27px;
    width: 90px;
}

.user_name{
    font-size: 15px;
    background-color: rgb(245, 245, 245);
    width: 385px;
    height: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: auto;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 1px;
    padding-left: 15px;
}

.password{
    font-size: 15px;
    background-color: rgb(245, 245, 245);
    width: 385px;
    height: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: auto;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 1px;
    padding-left: 15px;
}

.log_in{
    font-size: 17px;
    color: white;
    background-color: rgb(49, 112, 239);
    width: 410px;
    height: 45px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: auto;
    border-radius: 5px;
    border-style: solid;
    border: none;
}

.text_in_log{
    margin-top: 12.5px;
}

.fpass{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
}

.inner_fpass{
    color: rgba(14, 14, 229, 0.628);
    text-decoration: none;
}

.or{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.hr1{
    width: 180px;
    display: inline-block;
}

.hr2{
    width: 180px;
    display: inline-block;
}

.bcreate{
    width: 150px;
    height: 35px;
    background-color: rgb(31, 157, 31);
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer                 ;
}

.all{
    margin-top: 25px;
    text-align: center;
}

.language{
    margin-top: 120px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
